:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color:rgb(255, 255, 255);
}

a p:hover{
  text-decoration:none;
}
.logo{
  height:4rem;
}
.searcharea{
  display: flex;
  justify-content: space-around;
  align-items:center;
  background-color:rgb(255, 255, 255); 
  border:solid 3px rgb(255, 208, 0);
  position:fixed;
  width:100vw;
  top:0;
}
.searcharea button{
 border:none;
 border-radius:5px;
 padding:.8rem;
 color:white;
 background: rgb(0,138,255);
 font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.searcharea p{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align:center;
  margin-top: 1rem;
  width:6rem;
  text-decoration: none;
  }

.searcharea p:hover{
  background-color: rgb(95, 124, 255);
  width:6rem;
  border-radius:5px;
  transform: scale(1.2);
  color:white;
}

.searchbox{
padding-right:4rem;
}

.introarea{
  display:flex;
  justify-content: space-between;
  color:rgb(20, 132, 255);
  background-image: url('../images/lego-banner.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  height: 22rem;
  margin-top:3rem;

}

.introtext{
  padding: 10rem 4rem 0 1rem;
}

.introlog{
  display: flex;
  flex-direction:column;
  padding: 1rem 5rem 0 0; 
  color:white;
}

.google{
  height:2.6rem;
  border-radius:4px;
  width:2.6rem;
  margin-bottom:.2rem;
}
.facebook{
  height:4rem;
  width:4rem;
}

.submit-question{
  display:flex;
  justify-content: space-between;
  padding:1rem 4rem 0 10rem;
}

.submit-question h3{
  text-align:center;
  height:4rem;
  width:6rem;
  color:white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-kerning: auto;
  font-size: 17px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-weight: normal;
  margin-left: 15rem;
  padding-top:.8rem;
  border-radius:7px;
  background-color:rgb(0, 132, 255);
}

.submit-question p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  margin-left: 1rem;
}

.question-area{
  margin-left:1rem;
  margin-top:1rem;
}
.question-list{
  display:flex;
  background-color:rgb(255, 208, 0);
  border:1px solid black;
  border-radius:10px;
  width:75vw;
}


.profile{
  padding-right:5rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.question-list a:hover{
  color: rgb(0, 68, 255);
}
.question-area h3{
  color:white;
  padding:.6rem 0 0 0;
  margin:.3rem 1rem 2rem 0;
  width:15rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-kerning: auto;
  font-size: 22px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-weight: normal;
  background-color:rgb(20, 132, 255);
  border-radius:5px;
  text-align:center;
}
.question-area h3:hover{
  border-bottom: solid 1px rgb(106, 3, 241);
}



.question-area p{
  text-decoration:none;
  color:white;
  padding: 0rem 10rem 0 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-kerning: auto;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-weight: normal;
  background-color:rgb(255, 208, 0);
}

.question-area p:hover{
  text-decoration:none;
  background-color:rgb(255, 208, 0);

}
.add-question-area{
  display:flex;
  align-items:center;
  flex-direction: column;
  padding-top:5rem; 
}
.add-question-area h3{
  color:rgb(0,138,255);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-kerning: auto;
  font-size: 22px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-weight: normal;
  border-bottom:solid 1px;
  
}

.add-question-area p{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-kerning: auto;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-weight: normal;
  border-bottom:dotted 1px;
}
.add-question-area button{
 border:none;
 padding:2rem;
 border-radius:3px;
 background-color:rgb(0, 132, 255);
 color:white;
}
.question-title{
  width: 65%;
  margin: 8px 0;
  box-sizing: border-box;
  
}
.question-description{
  width: 65%;
  padding: 12px 20px 20rem;
  margin: 8px 0;
  box-sizing: border-box
}

.answer-list{
  display:flex;
  width:75vw;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding: 1rem 10rem 1rem 10rem;
  color:black;
  /* background-color:rgb(209, 207, 207); */
}

.answer-description{
  color:black;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-kerning: auto;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-weight: normal;
  border-bottom:dotted 1px;
}


.vote-area{
  display: flex;
  flex-direction:column;
  align-items:center;
  margin-left:10rem;
  width:10rem;
}


.vote-area p{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin:0;
}

.up-vote{
  border: none;
}
.down-vote{
  border: none;
}

.mid-front{
  display:flex;
  justify-content: center;
  padding-top:1rem;
}

.answer-page{
  display: flex;
  flex-direction: column;
  align-items:center;
  padding-top:3rem;
}
.answer-page p{
  margin:0;
  padding: 0;
}

.side-nav{
  position:fixed;
  display:flex;
  flex-direction:column;
  width:8rem;
  height:100vw;
  padding:2rem 0 0 .5rem;
  background-color:rgb(255, 255, 255); 
  border-radius:5px;
  border:solid 3px rgb(255, 208, 0);

}
.side-nav p:hover{
  background-color: rgb(95, 124, 255);
  border-radius:5px;
  width:6rem;
  transform: scale(1.1);
  color:white;
  text-decoration: none;
}


.count{
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
padding:0;
margin-top:1rem;
height:4rem;
display:flex;
justify-content: space-evenly;
font-size: 15px;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-variant-ligatures: normal;
font-weight: normal;
color:rgb(255, 255, 255);
border-radius:5px;
background-size: contain;
/* text-shadow: -1px 0 rgb(255, 208, 0), 0 1px rgb(255, 208, 0), 1px 0 rgb(255, 208, 0), 0 -1px rgb(255, 208, 0); */
}


.vote-count{
  text-align: center;
  width:6rem;
  background-color:rgb(13,138,255);
  border-radius:5px;  
}

.answers-count{
  text-align: center;
  width:6rem;
  background-color:rgb(0, 190, 25);
  border-radius:5px;
}
.view-count{
  text-align: center;
  width:6rem;
  background-color:rgb(0, 190, 25);
  border-radius:5px;

}
